<!-- <nav class="navbar navbar-default" id="header">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sci course</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="shift-down">
        <li >Home</li>
        <li >Course Portal</li>
        <li onclick="toggleModal()">Contact Us</li>
      </ul>
    </div>
  </div>
</nav> -->

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">BojuBoju</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
  </div>
</nav>
