$primary-colour: #00425F;
$light-blue: #00B2DA;
$fade-blue: #5992AB;
$variant-blue: #E2EAED;
$secondary-colour: #68B710;

$red: #EE312A;
$error-red: #9f3a38;
$orange: #F2AE2F;

$medium-gray: #BFBABA;
$light-gray: lighten($medium-gray, 2.5%);
$dark-gray: darken($medium-gray, 65%);
$font-color: rgba(0, 0, 0, 0.87);
