.check-in-wrapper {
  padding: 50px;
  float:left;
  background-color: #ffffff;
  margin: 0 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #cdcdcd;
}
.btn-submit {
  margin-top: 50px;
}